#header {
    grid-area: header;
    margin: 1% auto;
    color: #ffaa33;
    border:2px solid rgba(255, 157, 86, 0.65);;
}

#margins {
    grid-area: margins;
}

#table {
    grid-area: table;
    vertical-align: center;
}

#footer {
    grid-area: footer;
    margin: 1% auto;
}

.block {
    width: 90%;
    margin: 1%;
    padding: 1%;
    color: #ffae34;
    font-size: 1.5em;
    background-color: #3f151e;
}

#name {
    font-size: 1.4em;
    font-family: monospace;
    text-align: center;
}
#image {
    grid-area: image;
    text-align: center;
    border-radius: 60px;
}
#image img {
    width: 48%;
    height: 48%;
    border-radius: 20%;
    border: 6px solid #341119;
}

#footer p {
    font-size: 0.7em;
    text-align: center;
}

.styled-select select {
    background: transparent;
    width: 110%;
    height: 100%;
    font-size: 0.9em;
    align-content: center;
    border: 2px solid rgba(162, 97, 96, 0.36);
}
.styled-select {
    width: 83%;
    height: 40%;
    overflow: hidden;
    background: url(/res/arrow.png) no-repeat right #ffaa33;
}

table {
    border-collapse: collapse;
    border: 2px solid rgba(255, 157, 86, 0.65);;
    width: 98%;
    horiz-align: center;
}
td {
    border: 2px solid rgba(162, 97, 96, 0.36);
    text-align: center;
}

th {
    border: 2px solid rgba(162, 97, 96, 0.36);
    text-align: center;
}

fieldset {
    height: 80%;
}
#table_container {
    display: grid;
        grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    grid-template-areas: "header header"
    "table image"
    "footer footer";
    width: 95%;
    font-family:monospace;
    border: 3px solid #341119;
    background-color: #341119;
    opacity: 1;
    margin: 1% auto;
}
#form_container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "header header"
    "margins image"
    "footer footer";
    width: 95%;
    font-family:monospace;
    border: 3px solid #341119;
    background-color: #341119;
    opacity: 1;
    margin: 1% auto;
}

body, html {
    height:100%;
}
html{
    background: #FF9D56 url("res/main_background.png");
}
.invalid_input_message{
    color: #BA2609;
    margin-left: 2%;
    font-size: 0.8em;
}
.invalid_input {
    border: 4px solid #BA2609;
}

.param_field{
    border-color: rgba(255, 157, 86, 0.65);
}

#y_note{
    font-size: 0.8em;
}

h4{
    margin: 0;
}
#y_input{
    width: 83%;
    font-size: 0.9em;
    align-content: center;
    border: 2px solid rgba(162, 97, 96, 0.36);
    background: #ffaa33;
}

